* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
html {
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: inherit;
}
:root {
  --fave-color: #2aaa8a;
  --bg-primary: #fff;
  --bg-secondary: #f0f4f5;
  --bg-third: #e4ebe8;
  --bg-forth: #f0f5f4;
  --color-primary: #050505;
  --color-secondary: #656b6b;
  --divider: #ced4d2;
  --dark-bg-primary: #181a1a;
  --dark-bg-secondary: #242625;
  --dark-bg-third: #3a3c3c;
  --dark-color-primary: #242625;
  --dark-color-secondary: #b0b8b8;
  --blue-color: #1876f2;
  --green-color: #42b72a;
  --light-green-color: #e7fffc;
  --border-color: #ccd2d1;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}
/*----Button----*/
.fav_button {
  border: none;
  outline: none;
  background: var(--fave-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.light_green_btn {
  border: none;
  outline: none;
  background: var(--light-green-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.gray_btn {
  border: none;
  outline: none;
  background: var(--bg-secondary);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}
.fav_button .gray_btm span {
  transform: translateY(-1px);
}
/*----Button----*/

/*-----Hovers-----*/
.hover1:hover {
  background: var(--bg-secondary);
}
.hover2:hover {
  background: var(--bg-third);
}
.hover3:hover {
  background: #d4d6da3a;
}
/*-----Hovers-----*/

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.768);
  z-index: 99;
}

.card {
  height: 500px;
  width: 500px;
  background: red;
}

/*------Scrollbar---------*/

.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #aeafafa1;
  border-radius: 5px;
}

/*------Scrollbar---------*/
/*---Circles------*/
.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}
/*---Circles------*/

/*----filters---*/
.filter_green {
  filter: invert(64%) sepia(57%) saturate(200%) saturate(200%) saturate(160%)
    saturate(150%) saturate(150%) saturate(147.75%) hue-rotate(120deg)
    brightness(75%) contrast(80%);
}

/*----filters---*/
