.left_home {
    position: fixed;
    margin-top: 58px;
    left: 6px;
    max-height: 100vh;
    width: 300px;
    overflow-y: auto;
    color: var(--color-primary);
    padding: 15px 0;
}

.left_link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.left_link img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 11px;
    vertical-align: -0.25em;

}
.left_link span{
    margin-bottom: 4px;
    margin-right: 1px;
}